.alert-button button{
    background-image: linear-gradient(rgb(0, 123, 255), rgb(255, 255, 255));
    padding: 10px;
    border-radius: 10px;
    margin: 80px;
    
}
.alert-button{
    text-align: center;
    
}